*{
    margin: 0;
    padding: 0;
}

body{
    background: url(ab.jpg) no-repeat center center fixed;
    background-size: cover;
}

.signup-form{
    border: 2px solid black;
    margin: 63px auto;
    padding: 15px;
}

.right-section{
    text-align: center;
    color: whitesmoke;
    background-color: black;

}
.btn1
{
    padding: 14px 30px;
    font-size: 20px;
}

